.git
.github
.githooks
.gitattributes
.gitignore
.env
*.md
*.MD
docs/
SELinux/
bin/
src/
lib/
utils/
authors.txt
LICENSE
SECURITY.md
CONTRIBUTING.md
packages/buildroot/
packages/init.d/
packages/systemd/
packages/Makefile
packages/udpcast-*.tar.gz
Dockerfile.new
